.maestro-info {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2%;
  }
  
.maestro-info button {
    margin: 5px;
  }

.materias {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
.pointer {
    cursor: pointer;
  
  }

.pointer:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
.custom-card-profile {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
.card {
    padding:0 20px 0 20px;
    margin: 10px;
  }
  
.custom-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
.profile {
    padding: 0;
    margin: 0;
    list-style: decimal;
  }
  
.archivos {
    width: 80%;
    display: flex;
    flex-direction: column;
  }